/**
 * El Care-Package usa postcss junto con Stylus para brindarle super poderes al
 * CSS, si eres nuevo con el uso de Stylus anímate a aprender!
 * http://stylus-lang.com/
 * https://github.com/postcss/postcss
 * 
 * los plugins de postcss que se incluyen en el Care-Package son:
 * - atoprefixer: Prefijos para las propiedades de CSS que lo necesiten.
 * - rucksack: Paquete de utilidades CSS (http://simplaio.github.io/rucksack/docs/).
 * - lost: Grid System (https://github.com/peterramsing/lost).
 */

/**
 * Nota: puedes incluir cualquier archivo '.css' o '.styl' dentro de la carpeta 
 * 'src/styles' e importarlos directamente en el 'main.styl'. El Care-Package
 * incluye por defecto normalize.styl v3.0.3.
 *
 * Eres libre de modificar los archivos que se encuentran en el directorio
 * 'base' a tu gusto, la idea es mantener tu código organizado y modular, por
 * defecto el Care-Package cuenta con archivos para la declaración de tus
 * base rules, mixins y variables. Se recomienda mantener los `@imports` en el
 * mismo orden.
 */

// Base Imports
@import 'frameworks/normalize'
@import 'base/_base'
@import 'base/_base_mixins'
@import 'base/_base_variables'

// Imports
@import '../../bower_components/bootstrap/dist/css/bootstrap.css'

body
	font-family sans-serif
	font-size 16px

.layout
	background-color lighten(steelblue, 60%)
	min-height 100vh
	width 90%
	margin auto
	
h1
	color darken(steelblue, 40%)
	margin 0
	padding 30px 0 0 0
	text-align center

p
	margin 20px 10px
	padding 0
	text-align justify
	font-size responsive
	
.grid
	lost-utility clearfix
	
	&__item
		color white
		background-color darken(steelblue, 50%)
		lost-column 1/2







