/**
 * Base Rules:
 * Usa este archivo para declarar tus estilos o reglas base, las reglas base
 * suelen aplicarse a un elemento usando un selector de elemento
 * (ej: body, section, div etc), un selector descendiente, o un selector hijo
 * junto con cualquier pseudo-clase. No incluye ningun selector de clase o ID.
 * https://smacss.com/book/type-base
 */