/**
 * Mixins:
 * Usa este archivo para declarar tus mixins Stylus.
 * http://stylus-lang.com/docs/mixins.html
 */

// Este es un ejemplo que puedes aplicar a los elementos para poder saber 
// visualmente que area ocupa.
area(color = red, grosor = 1px)
	border grosor solid color
	box-sizing border-box