/**
 * Variables:
 * Usa este archivo para declarar tus variables de Stylus que estarás usando
 * de forma recurrente en el proyecto, como por ejemplo colores o fuentes.
 * http://stylus-lang.com/docs/variables.html
 */